body {
  background-color: #fafafd;
}
.universalBetween {
  display: flex;
  justify-content: space-between;
}

.universalEvenly {
  display: flex;
  justify-content: space-between;
}
/* .universalBetween {
  display: flex;
  justify-content: space-between;
} */
